body{
    display: flex;
    flex-direction: column;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 15pt;
    font-family: Myriad Pro;
}
li {
    align-self: center;
}
h1 {
    display:flex;
    justify-content: space-around;
    align-self: center;
    margin-left: 40%;
    font-size: 90pt;
    font-family: Futura;
}
h2{
    font-size: 75pt;
    font-family: Euphemia UCAS;
}
p{
    margin-left: 50%;
    margin-right: 10%;
    font-size: 15pt;
    font-family: Kohinoor Devanagari;
    color: #DA4F00;
}
#Welcoming {
    width: 375;
    height: 104.424;
    align-self: center;
}
#Recently {
    width: 592.629;
    height: 104.424;
    align-self: center;
}
#Squiggle {
    margin-left: 30%;
    margin-right: 30%;
}
