body{
    display: flex;
    flex-direction: column;
    background-color: black
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 25pt;
    font-family: Myriad Pro;
}
li {
    align-self: center;
}
h1 {
    display:flex;
    justify-content: space-around;
    align-self: center;
    margin-left: 40%;
    font-size: 90pt;
    font-family: Futura;
    color: white;
}
h2{
    font-size: 75pt;
    font-family: Euphemia UCAS;
    align-self: center;
    color: #0081CB;
}
#Welcoming {
    width: 375;
    height: 104.424;
    align-self: center;
}
#Recently {
    width: 592.629;
    height: 104.424;
    align-self: center;
}
#Squiggle {
   border-width: 10px;
    border-color: white;
    color: white;
    background-image: url(Images/Squiggle.png)
}
#writ {
    align-self: center;
}
#cat {
     color: black;
    transition-duration: 5s;
    align-self: center;
    color: 0081CB;
font-size: 70pt;
    border: solid 1px blue;
    width:500px;
}
#Descrip1 {
    margin-left: 10%;
        font-size: 15pt;
    font-family: Kohinoor Devanagari;
    color: #DA4F00;
}
#Descrip2 {
    margin-left: 50%;
    margin-right: 10%;
    font-size: 15pt;
    font-family: Kohinoor Devanagari;
    color: #DA4F00;
}
#Descrip3 {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20pt;
    margin-bottom: %;
    font-family: Kohinoor Devanagari;
    color: #DA4F00;
}
a{
    text-decoration: none;
}
#ListyBoi {
    color: black;
    transition-duration: 5s;
}
#ListyBoi:link {
    background-color: black;
    color: white;
}
#ListyBoi:visited {
     background-color: black;
    color: gainsboro;
}
#ListyBoi:hover {
    color: #0081CB;
}
 /*0081CB*/
/*Media querrey small screen*/
@media only screen and (max-width: 700px) {
    body {
        background-color: white;
    }
    h1 {
        color: black;
        margin-left: 0%;
        margin-right: 0%;
    }
    h2 {
        display: flex;
        justify-content: center;
    }
    #Descrip2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0%;
        margin-left: 0%;
    }
    #Squiggle {
        background-image: url(Images/Squiggle.png)
    }
}
